.legend__item {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto;
  justify-content: space-between;
  justify-items: flex-start;
  align-items: center;
  gap: var(--size-atlas-10);
  width: 100%;
  min-height: var(--size-atlas-06);
  background: none;
  outline: none;
  border-radius: var(--border-radius-atlas-1);
  margin-bottom: var(--size-atlas-10);
}

.list {
  @include atlas-shadow(var(--shadow-atlas-inset));
  max-height: 50vh;
  overflow-y: scroll;
  border-radius: var(--border-radius-atlas-1);
  display: grid;
}

.list__expand {
  max-width: var(--size-atlas-06);
  justify-self: flex-end;
}

.list__key {
  display: grid;
  grid-template-columns: var(--size-atlas-04);
  justify-items: center;
}

.item__filter {
  position: sticky;
  top: 0;
  background-color: transparent;

  z-index: 9;
  margin-bottom: var(--size-atlas-14);
  h5 {
    text-align: right;
    margin-bottom: var(--size-atlas-14);
  }

  select {
    @include atlas-shadow(var(--shadow-atlas-1));
    background-color: hsl(var(--color-atlas-dark) / var(--opacity-atlas-3));
    color: hsl(var(--color-atlas-accent) / var(--opacity-atlas-3));
    text-align: left;
  }
  .filter-menu {
    display: grid;
    gap: var(--size-atlas-14);
  }

  .filter-title {
    display: flex;
    gap: var(--size-atlas-10);
    align-items: center;
    padding: var(--size-atlas-10);
    background-color: var(--surface-atlas-option);

    span {
      @include atlas-shadow(var(--shadow-atlas-1));

      color: var(--text-atlas-info);
      background-color: hsl(var(--color-atlas-accent) / var(--opacity-atlas-3));
    }
  }

  .filter-expand {
    @include atlas-shadow(var(--shadow-atlas-1));
    background-color: var(--surface-atlas-option);
    margin-bottom: var(--size-atlas-12);
    &[data-state='open'] {
      background-color: var(--surface-atlas-option);
      color: hsl(var(--color-atlas-light) / var(--opacity-atlas-3));
    }
  }

  .filter-field {
    display: flex;
  }
}

.item {
  padding: var(--size-atlas-10);
  border-radius: var(--border-radius-atlas-1);
  margin-bottom: var(--size-atlas-11);
  cursor: zoom-in;
  h4,
  h6 {
    padding: var(--size-atlas-16) var(--size-atlas-09);
    text-align: right;
  }

  h6 {
    padding-top: 0;
  }

  small {
    padding: 0;
    font-weight: 900;
    font-size: var(--size-atlas-10);
  }
  p {
    margin: 0;
  }

  &:hover,
  &.active:hover {
    background: var(--surface-atlas-action-active) !important;
    color: hsl(var(--color-atlas-dark) / var(--opacity-atlas-3));

    a {
      color: hsl(var(--color-atlas-dark) / var(--opacity-atlas-3));
    }
    .item__name {
      color: hsl(var(--color-atlas-dark) / var(--opacity-atlas-3));
      background: hsl(var(--color-atlas-accent) / var(--opacity-atlas-3));
    }
    .item__filterkeys {
      color: hsl(var(--color-atlas-dark) / var(--opacity-atlas-3));
    }
  }
  &.active {
    background-color: var(--surface-atlas-info-active);
  }

  &:hover {
    background: hsl(var(--color-atlas-accent) / var(--opacity-atlas-1));
    color: hsl(var(--color-atlas-dark) / var(--opacity-atlas-3));
  }

  .item__container {
    overflow-y: scroll;
  }

  .item__name {
    @include atlas-shadow(var(--shadow-atlas-inset));
    background: hsl(var(--color-atlas-light) / var(--opacity-atlas-1));
    color: hsl(var(--color-atlas-accent) / var(--opacity-atlas-3));
  }

  .item__filterkeys {
    display: flex;
    flex-wrap: wrap;
    gap: 0 var(--size-atlas-10);
    position: relative;
    color: hsl(var(--color-atlas-light) / var(--opacity-atlas-2));
    align-items: center;
    align-content: center;
    justify-items: center;
    text-transform: uppercase;
  }

  .item__filterkey {
    font-size: var(--size-atlas-08);
    font-family: var(--font-atlas-emoji);
    text-transform: uppercase;
    display: grid;
    justify-items: center;
    & span:nth-child(1) {
    }
    & span:nth-child(2) {
      color: hsl(var(--color-atlas-light) / var(--opacity-atlas-1));
    }

    :nth-child(n + 3) {
      margin: 0;
      padding: 0;
      font-size: var(--size-atlas-08);
      color: hsl(var(--color-atlas-light) / var(--opacity-atlas-2));
    }
  }

  .item__urls {
    display: grid;
    margin: var(--size-atlas-10) 0;
  }

  .item__expand {
    @include atlas-shadow(var(--shadow-atlas-1));
    background: hsl(var(--color-atlas-dark) / var(--opacity-atlas-3));
    &:hover,
    &[data-state='open'] {
      background: var(--surface-atlas-info-active);
    }
  }

  .item__json {
    @include atlas-shadow(var(--shadow-atlas-1));
    padding: var(--size-atlas-09);
    overflow-y: scroll;
    grid-column: 1 / -1;
  }

  .wikidata a {
    // max-width: var(--size-atlas-06);
    padding: none !important;
    margin: none !important;
    // display: block;
    // float: right;
  }
}

.wrapper {
  .wrapper__search {
    padding: 0;

    .search-input {
      width: 100%;
    }
  }
}
